@model School

@{
    ViewData["Title"] = "IT";
    Layout = "Simple";
}

<h1>School @ViewData["Title"]</h1>
<h2>Name: @Model.Name</h2>
<h3>School type: @Model.SchoolType</h3>
<address>
    <p>Address: @Model.Address</p>
    <p>Country: @Model.Country</p>
    <p>City @Model.City</p>
</address>
<p><strong>Founded year: @Model.FoundedYear</strong></p>

<p><i>@ViewBag.DynamicData</i></p>
<p><i>@ViewData["DynamicData"]</i></p> <!--Viewbag and Viewdata are two views of the same information. Access is different-->

